.contests_inner {
  margin-top: 100px;
  display: flex;
  gap: 20px;
  @media (max-width: 768px) {
    justify-content: center;
  }
  @media (max-width: 430px) {
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }

  .date {
    min-height: 50px;
    max-height: 300px;
    overflow-y: scroll;
    border: 1px solid #E1E1E1;
    width: 200px;

    &::-webkit-scrollbar {
      display: none;
    }

    @media (max-width: 430px) {
      width: 100%;
    }
  }

  .all_date {
    text-align: center;
    color: #4D1200;
    padding: 10px 0;
    border-bottom: 1px solid #E1E1E1;
    cursor: pointer;
  }

  .all_date_active {
    background-color: #4D1200;
    color: white;
  }

  .contests_card {
    display: flex;
    justify-content: end;
    width: 100%;
    @media (max-width: 430px) {
      margin-top: 30px;
    }
    .contests_item {
      margin-bottom: 50px;

      .item_img {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        @media (max-width: 430px) {
          justify-content: start;
        }

        .item_card {
          width: 250px;
          min-height: 250px;
          margin-bottom: 35px;
          background-color: #FAFAFA;
          word-wrap: break-word;
          padding: 0 20px;
          @media (max-width: 430px) {
            width: 48%;
            min-height: 250px;
          }

          .item_date {
            text-align: right;
            font-size: 16px;
            line-height: 18px;
            font-style: italic;
            color: #A5A5A5;
            margin-bottom: 10px;
          }

          .item_name {
            font-size: 18px;
          }

          .card_image {
            margin: 0 auto 10px;
            width: 100%;
            img {
              width: 100%;
              height: 100%;
            }
          }

          p {
            text-align: center;
            font-size: 16px;
            margin-top: 5px;

            a {
              margin-left: 10px;

              img {
                width: 18px;
                height: 18px;
              }
            }
          }

          img {
            width: 100%;
            object-fit: cover;
          }
        }
      }
    }
  }

}