
.quality_page {
  margin-top: 30px;
  padding: 0 10px;

  .quality_container {
    max-width: 1150px;
    margin: auto;

    .quality_page_title {
      text-align: center;

      h2 {
        font-size: 2em;
        font-weight: 400;
      }
    }

    .quality_page_row {
      display: flex;
      margin-top: 50px;
      align-items: center;
      @media (max-width: 425px) {
        flex-direction: column;
        gap: 50px;
      }
      div {
        width: 50%;
        @media (max-width: 425px){
          width: 100%;
        }
      }

      .left {
        h4 {
          font-size: 1.7em;
          font-weight: 400;
          margin: 0;
          @media (max-width: 425px){
            font-size: 1.5rem;
          }
        }

        p {
          font-size: 15px;
          font-weight: 300;
          line-height: 22px;
          margin: 0;
          margin-top: 20px;
        }
      }

      .right {
        text-align: center;
        img{
          @media (max-width: 425px){
            width: 300px;
          }
        }
      }
    }
  }
}