

.photo_parent {
  margin-top: 50px;

  &_row {
    display: flex;
    margin-top: 50px;
    gap: 30px;
    @media (max-width: 768px) {
      flex-direction: column;
    }
    img {
      width: 33%;
      cursor: pointer;
      @media (max-width: 768px) {
        width: 90%;
        margin: 0 auto;
      }
    }
  }
}