

.locations_container {
  max-width: 1150px;
  margin: auto;

  &_title {
    text-align: center;
    margin-top: 30px;
    padding: 0 10px;
    h2 {
      font-size: 2em;
      font-weight: 400;
      @media (max-width: 430px) {
        font-size: 1.6em;
      }
    }
  }

  .search_parent {
    display: flex;
    margin-top: 30px;
    align-items: center;
    gap: 30px;
    padding: 0 10px;
    h4 {
      margin: 0;
      @media (max-width: 430px) {
        font-size: 18px;
        white-space: nowrap;
      }
    }
    section {
      position: relative;
      width: 70%;

      input {
        width: 100%;
        border:1px solid #4D1200;
        padding: 10px 10px;
      }

      img {
        width: 20px;
        position: absolute;
        right: 2%;
        top: 30%;
      }
    }
  }

  &_table {
    margin-top: 40px;

    tbody {
      position: relative;
      tr {

        cursor: pointer;
        transition: .2s;

        &:hover {
          background-color: #4D1200;
          color: white;
          cursor: pointer;
        }
      }

      div {
        height: 200px;
        p {
          position: absolute;
          left: 40%;
          font-size: 20px;
          color: #4D1200;
          top: 100px;
          @media (max-width: 430px) {
            left: 15%;
          }
        }
      }
    }
  }
}